
<div *ngIf="business.volume" class="details-grid"> 
    <div class="row">
        <div class="col-sm-12 col-md-5">
          <label>档案位置</label>
          <div class="content">
            {{business.volume.boxId}}
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <label>页数</label>
          <div class="content">
          {{business.volume.pageCount}}
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <label>归档时间</label>
          <div class="content">
            {{business.volume.recordTime | date: 'yyyy年M月d日 HH:mm:ss'}}
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <label>保密等级</label>
          <div class="content">
            {{secrecyLevel[business.volume.secrecyLevel]}}
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <label>保密期限</label>
          <div class="content">
            {{business.volume.secrecyLen}}
          </div>
        </div>
    </div>
</div>

<div class="details-grid">
<div class="row">
  <div class="col-sm-12 col-md-12 ">
      <label>移交单位</label>
      <div class="content">
      [{{corpType[business.corpType]}}]{{business.deliver}}
      </div>
  </div>
  <div class="col-sm-12 col-md-9">
    <label>移交时间</label>
    <div class="content">{{business.receiveDate | date: 'yyyy-MM-dd'}}</div>
  </div>
  <div class="col-sm-12 col-md-3">
      <label>状态</label>
      <div class="content">
        {{businessStatus[business.status]}}
      </div>
  </div>
</div>


<div *ngFor="let row of fields">
  <div *ngIf="row.type === 'SIMPLE'" class="row">
    <div *ngFor="let item of row.fields" class="col-sm-12">

      <label>
        {{item.label}}
      </label>
      <div class="content">
        {{item.value}}
      </div>
    </div>
  </div>
  <div *ngIf="row.type === 'CONSTRUCT_CORP'" class="row">
    <div class="col-sm-12 col-md-12 ">
        <label>{{row.singleValue.name}}</label>
        <div class="content">
        [{{corpType[row.singleValue.fieldDefines[0].value]}}]{{row.singleValue.fieldDefines[2].value}}
        </div>
    </div>
  </div>
  <div *ngIf="row.type === 'TEXT_AREA'" class="row">
      <div class="col-sm-12 col-md-12 ">
          <label>{{row.singleValue.name}}</label>
          <div class="content">
            {{row.singleValue.fieldDefines[0].value}}
          </div>
      </div>
    </div>


</div>

</div>