<div class="row">
  <div class="col-2">
      <ng-select *ngIf="hasRack" placeholder="架" (change)="rackSelected()" [clearable]="false" [searchable]="false" [clearOnBackspace]="false" [(ngModel)]="selectRackId" [items]="racks" bindLabel="name" bindValue="id" notFoundText="没有符合条件的项"></ng-select>
    
      <div *ngIf="loadding">
          <div class="wait-item"></div>
          <div class="wait-item"></div>
          <div class="wait-item"></div>
          <div class="wait-item"></div>
      </div>

      <div *ngIf="!loadding && selectRackId && hasCabinet" class="menu">
        <a *ngFor="let cab of cabinets" routerLink="{{cab.id}}" routerLinkActive="selected" class="menu-item">
            {{cab.name}}
        </a>
    </div>

    <div>
      <button class="btn btn-success btn-block ">添加架</button>
    </div>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>