<div class="container px-md-2 mt-lg-4 clearfix">
  <div class="row">
    <div class="col-12 col-md-3 float-left px-md-2">
      <nav class="menu border d-none d-md-block">
          <a class="menu-item {{ !defineId ? 'selected' : '' }}" (click)="filterByDefine()" >所有业务</a>
          <a *ngFor="let define of usedDefine" (click)="filterByDefine(define.id)" class="menu-item {{(define.id === defineId) ? 'selected' : ''}} " >{{define.name}}<span class="ml-1 mt-1 Counter Counter--gray">{{define.count}}</span></a>
     
        </nav>
    </div>
    <div class="col-12 col-md-9 float-left px-2 pt-3 pt-md-0 codesearch-results">
        <div *ngIf="page.empty" class="px-2">
          <div class="blankslate">
              <svg height="32" class="octicon octicon-search blankslate-icon" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
                <h3>
                  没有找到符合条件的业务
                </h3>
            
                请检查你的查询条件.
            </div>
            
            
        </div>
        <div *ngIf="!page.empty" class="px-2">
          <div class="d-flex flex-column flex-md-row flex-justify-between border-bottom pb-3 position-relative">
              <h3>
                  共找到 {{page.totalElements}} 条业务
              </h3>
          </div>
          <ul class="repo-list">
              <li *ngFor="let business of page.content" class="repo-list-item d-flex flex-column flex-md-row flex-justify-start py-4 public source">
                  <div class="col-12 col-md-8 pr-md-3">
                    <h3>
                      <a class="v-align-middle" routerLink="/business-view/{{business.id}}/files">{{business.defineName}} / {{business.id}}</a>
                
                    </h3>
                
                      <p class="col-12 col-md-9 d-inline-block text-gray mb-2 pr-4 pl-0">
                        <em>{{business.summary}}</em>
                      </p>
                
                
                    <div class="d-flex flex-wrap">
                
                        <p class="f6 text-gray mr-3 mb-0 mt-2">
                          由 {{business.deliver}} 于 {{business.receiveDate | date: 'yyyy年MM月dd日'}} 移交
                        </p>
                
                    </div>
                  </div>
                
                  <div class="flex-shrink-0 col-6 col-md-4 pt-2 pr-md-3 d-flex">
                    <div class="text-gray flex-auto min-width-0">
                    </div>
                
                  </div>
                </li>
          </ul>

          <div  class="paginate-container">

          
            <ngb-pagination  class="d-flex justify-content-center" (pageChange)="onPageChange($event)" [collectionSize]="page.totalElements" [pageSize]="page.size" [(page)]="pageIndex" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
    </div>
  </div>
</div>