<!-- <div class="row">
  <div *ngFor="let item of listItems" class="col-2">
      <div class="media">
          <img [src]="item.src" *ngIf="item.isImg" alt="..." class="img-thumbnail mr-3">
          <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
          </div>
      </div>
     
  </div>
</div> -->
<div class="Details-content--closed f4">
  <div class="d-flex flex-items-start">
    <span class="flex-auto mb-2">  
      <div class="f4">
        <em class="d-block text-gray">
         {{business.summary}}
        </em>
      </div>
    </span>
      <!-- <span class="btn btn-sm">Edit</span> -->
  </div>
</div>


<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

<div #imagewrapper  class="imagewrapper">
  <ngx-imageviewer *ngIf="selectItem" [width]="canvasDim.width" (change)="onImageChange($event)" [height]="canvasDim.height" [src]="selectItem.previewSource"></ngx-imageviewer>

</div>
