
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{selectBox.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <div class="list-group">
          <a *ngFor="let business of businesses" (click)="modal.dismiss('live')" routerLink="/business-view/{{business.id}}/files" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{business.defineName}}/{{business.id}}/{{business.volume.id}}</h5>
              <small>{{business.volume.recordTime | date : 'yyyy年M月d日 HH:mm:ss'}}</small>
            </div>
            <p class="mb-1">{{business.summary}}</p>
            <small>共 {{business.volume.pageCount}} 页 {{secrecyLevels[business.volume.secrecyLevel]}}
              <span *ngIf="business.volume.secrecyLen !== 'None'"  >
                  保密期限 :{{business.volume.secrecyLen}}年 
              </span>
              </small>
          </a>
      
      </div>
  </div>

</ng-template>
<div>
  <div class="cell-box">
    <ul>
      <li  *ngFor="let box of cell.boxes">
        <a [style.width.px]="box.size * 41" class="box {{box.old ? 'old' : ''}} {{ !box.old && box.full ? 'full' : ''}} {{!box.old && box.empty ? 'empty' : ''}}" 
          (click)="openBox(content,box)">{{box.seq}}</a>
      </li>
      <li  *ngFor="let i of cell.emptyBox" >
        <span [style.width.px]="41">
          {{i}}
        </span>
      </li>
    </ul>
  </div>
</div>