
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{selectBox.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <div class="form-checkbox form-group">
          <label>
              <input class="mt-2" aria-describedby="是否装满" type="checkbox" [(ngModel)]="selectBox.full" (ngModelChange)="onFullChange($event)">
              盒是否装满
          </label>
          <span  class="float-left mt-1 mr-2" color="#959da5"  octicon="repo-push" width="24"></span>
          <span class="note">
              盒是已否装满！设置为已装满的盒装不再能放入卷。
          </span>
      </div>

      <div class="list-group">
          <a *ngFor="let business of businesses" (click)="modal.dismiss('live')" routerLink="/business-view/{{business.id}}/files" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{business.defineName}}/{{business.id}}/{{business.volume.id}}</h5>
              <small>{{business.volume.recordTime | date : 'yyyy年M月d日 HH:mm:ss'}}</small>
            </div>
            <p class="mb-1">{{business.summary}}</p>
            <small>共 {{business.volume.pageCount}} 页 {{secrecyLevels[business.volume.secrecyLevel]}}
              <span *ngIf="business.volume.secrecyLen !== 'None'"  >
                  保密期限 :{{business.volume.secrecyLen}}年 
              </span>
              </small>
          </a>
      
          <a *ngIf="selectBox.old && !selectBox.full" class="list-group-item list-group-item-action" (click)="modal.dismiss('live')" routerLink="/business-category" [queryParams]="{fun: 'patch', box: selectBox.id}">
            补录档案
          </a>
      </div>
  </div>

</ng-template>
<div>
  <div class="cell-box">
    <ul>
      <li  *ngFor="let box of cell.boxes">
        <a [style.width.px]="box.size * 41" class="box" 
          [class.old] ="!box.full && box.old" [class.full]="box.full" [class.empty]="!box.old && box.empty "
          (click)="openBox(content,box)">{{box.seq}}</a>
      </li>
      <li  *ngFor="let i of cell.emptyBox" >
        <span [style.width.px]="41">
          {{i}}
        </span>
      </li>
    </ul>
  </div>
</div>