<div class="component-body">
  <ngx-loading [show]="loadding" ></ngx-loading>
  <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav fix-head">
    <div class="repohead-details-container clearfix container">
        <ul class="pagehead-actions">

        </ul>
        <h1 class="public ">
  
            <span [innerHTML]="inboxIcon"></span>
            <span class="author" itemprop="author">档案室</span><!--
          --><span class="path-divider">/</span><!--
          --><strong itemprop="name"></strong>
            
          
        </h1>
    </div>

    <nav class="reponav container">
      <span *ngFor="let room of rooms">
        <a class="reponav-item" routerLink="{{room.id}}"  routerLinkActive='selected' >
          <fa-icon [icon]="faFile"></fa-icon>
          <span itemprop="name">{{room.name}}</span>
          <!-- <span class="Counter">{{fileCount}}</span> -->
          <meta itemprop="position" content="1">
        </a>  
      </span>
    </nav>

  </div>
  <div class="container">
      <router-outlet></router-outlet>
  </div>

</div>