
    <div class=" business-summary d-flex flex-items-start">
      <div class="flex-auto">  
        <div class="f4">
          <span class="text-gray-dark mr-2" itemprop="about">
              {{business.summary}}
          </span>
    
        </div>
      </div>
    </div>
<div class="row">
  <div class="col-4">
      <nav class="menu" data-drag-enabled ="false" >
        <a (click)="onItemSelect()" class="menu-item" [class.selected] = "!selectItem" >
          所有文件
        </a>
        <a *ngFor="let item of items" (click)="onItemSelect(item)"
          [class.selected] = "selectItem?.id === item.id" class="menu-item">
          {{item.name}}
        </a>
      </nav>
  </div>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" #onlyPreviewGallery></ngx-gallery>
  <div class="col"> 

   <div *ngFor="let item of viewItems">
     <div *ngIf="!selectItem" class="item-split">
        <h2   class="f4 text-normal mb-2 ">
            {{item.name}}
          </h2>
     </div>
     <div class="row">

      <figure  *ngFor="let content of item.contexts" class="col-3">
        <div  class="z-depth-1">
          <a *ngIf="content.isImage" (click)="openPreview(content.id)">
            <img   class="img-fluid " [src]="content.getThumb('360x200s')">

          </a>
          <a *ngIf="!content.isImage" target="_blank" [href]="content.origAddress">
              <fa-icon [icon]="faFile" size="3x"></fa-icon>
          </a>
        </div>
        <p class="text-uppercase font-weight-bold blue-grey-text mt-4"> {{content.title}} </p>
      </figure>
    </div>
   </div>

  </div>
</div>




