.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

figure img:hover {
    opacity: .8;
}

figure img{
    margin:auto;
    cursor: zoom-in;
}

figure {
    display:flex;flex-direction: column;
}

figure .z-depth-1{
    flex: 1;  display:flex;  align-items:center;
        justify-content:center; background-color: #eee;
}

figure p{
    align-items:flex-end;
    text-align: center;
}

.business-summary{
    margin-bottom: 20px;
}

.item-split {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 20px;
}